{% extends 'main.html' %}

{% block content %}
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <div class="card-title nth-card-title">
                <h4>Авторизация на сайте</h4>
            </div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 d-md-block mt-2">
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
              <body>
                <form action="?" method="POST">
                  <div class="g-recaptcha" data-sitekey="6Ldj4sgpAAAAAKgtcnMPBDY-6PZSBPsSyNZWOJIx"></div>
                  <br/>
                </form>
              </body>
                <button type="submit" class="btn btn-dark">Авторизоваться</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}